/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Roboto+Condensed:wght@300&display=swap');

@font-face {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  // Strip the unit off the size ratio to generate a line height
  $line-height: get-size(600);
  line-height: $line-height / ($line-height * 0 + 1);
  
  @include apply-utility('font', 'base');
}

h1,
h2,
h3 {
}

h1 {
  font-size: get-size(700);
  font-family: "Cinzel Decorative", sans-serif;
}

h2 {
  font-size: get-size(600);
  font-family: "Cinzel Decorative", sans-serif;
}

h3 {
  font-size: get-size(500);
  font-family: "Cinzel Decorative", sans-serif;
}

@include media-query('md') {
  h1 {
    font-size: get-size(900);
	font-family: "Cinzel Decorative", sans-serif;
  }

  h2 {
    font-size: get-size(800);
	font-family: "Cinzel Decorative", sans-serif;
  }

  h3 {
    font-size: get-size(700);
	font-family: "Cinzel Decorative", sans-serif;
  }
}
