name: Build Eleventy

on:
  push:
    branches:
      - master
	  
jobs:
  build_deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@master
      - name: Build
        uses: TartanLlama/actions-eleventy@v1.3
        with:
          install_dependencies: true 
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          #publish_dir is the folder on the docker instance which eleventy builds the pages to. 
          #it is not the docs folder in the repository
          publish_dir: dist 
          #publish_branch is the branch in the repository.
          #this is where you need to point GitHub pages
          publish_branch: gh-pages